
body{
   /* background-color: tomato;*/
      background-image: url("../Imagenes/fondoTeatro.jpg" );
      background-size:700px 1000px;
      background-size:100%;
      background-attachment:fixed;
    
    }


  #franja {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    background-color: #4d57afd2;
    border-bottom: 6px rgb(163, 199, 206) solid;
  }

  header {
   
  position: relative;
  text-align: center;
    width: 1000px;
    margin: 0 auto;
    font-family: titulares_light;
    font-size: 30px;
    color: rgb(11, 248, 236);
  }

  #contenido{
    width:1000px;
    margin:0 auto;
}

img{
    max-width:100%;
    vertical-align:top;
 }

 .cuadros{
    width:240px;
    border:2px lightgray solid;
    border-radius:3px;
    background-color:white;
    text-align:center;
    padding:5px 5px 22px 5px;
    /*box-shadow: 0px 0px 15px blue;*/
    box-shadow: 0px 0px 16px rgb(216, 29, 29) inset, 0px 0px 20px blue;
    margin-bottom:30px;
    float:left;
  }	

  #cuadro2{
    margin:0 112px 0 112px;
  }

 ul { 
     text-align: left; 
}
ol { 
    text-align: left; 
}

#apartado1{
    text-shadow: 10px 10px 5px gray;
 }
 #apartado2{

   color: rgb(241, 236, 236);
  text-shadow: 10px 10px 5px gray;
  text-align: center;
}

#icono{
  margin-top: 30px;
    text-align: center;
    font-size: 30px;
    word-spacing: 20pt;
}


 footer {
    position: relative;
    padding-top: 12px;
    clear: both;
    font-family: titulares;
    font-size: 13px;
    color: rgb(238, 236, 240);

  }

  

